@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-Bold.ttf');
    src: url('fonts/Rubik-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf');
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
body
{
    background-color: rgba(245, 243, 239, 1);
}

img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
 a
 {
     text-decoration: none;
     color: #F5F3EF;
    }
div p
{
    font-family: 'Rubik';
color: #F5F3EF;
font-size: 30px;
text-align: center;
background: #2FC6F5;
padding-top: 20px;
padding-bottom: 20px;
width: 198px;

display: block;
margin: auto;
box-shadow: 4px 4px 4px #09AEE2;
border-radius: 15.1429px;
}

div p:hover
{
    box-shadow: 4px 4px 4px #09AEE2 inset;

}

footer p
{
    font-family: 'Roboto';
    position: absolute;
    left: 1199px;
    top: 630px;
    width: 146px;
    background: #9EEBE6;
    padding-top: 20px;
padding-bottom: 20px;
    box-shadow: 4px 4px 4px #A7E4E1;
    border-radius: 15.14px;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #F5F3EF;
}

footer p:hover {
    box-shadow: 4px 4px 4px #A7E4E1 inset;
}