        #frame001 {
            margin: auto;
            margin-top: 10%;
width: 874px;
height: 368px;


background: #FFFFFF;
box-shadow: 5px 3px 29px #C4C4C4;
border-radius: 22.7143px;
        }

        .buttons001 {
            display: block;
            margin: auto;

background: #2FC6F5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border: none;
border-radius: 15.1429px;
        }

        .buttons002 {
            background-color: blue;
            color: white;
            width: 85px;
            height: 30px;
            border-radius: 5px;
        }

        #font001 {
            text-align: center;
            font-size: large;
            color: black;
        }
